/*ALL STYLES*/

body {
  font-family: "Futura", sans-serif;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
  overflow: hidden;
  margin-top: 40px;
}

.instructors {
  max-width: 1160px;
  margin: 0 auto;
  overflow: hidden;
}

.title {
  font-size: 40px;
  text-align: center;
}

.p {
  font-size: 20px;
  margin: 5px;
  text-align: center;
}

.btn {
  display: inline-block;
  border: 2px solid #000;
  color: #74e196;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
  padding: 15px;
  transition: .3s ease all;
}

.btn--white {
  border: 2px solid #fff;
}

.btn:hover {
  color: #fff;
  background-color: #74e196;
}

/*PROMO BLOCK*/

.promo {
  padding-top: 100px;
  padding-bottom: 350px;
  background-image: url(../img/header_backgrond.jpg);
  background-size: cover;
  background-position: center bottom;
}

.promo h1 {
  color: #fff;
  font-size: 50px;
  width: 470px;
}

.promo span {
  font-size: 38px;
  display: block;
  margin-top: 30px;
}

/*HEADER*/

.header button {

  border: 2px solid #000;
  color: #74e196;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  width: 130px;
  margin-top: 40px;
  padding: 15px;
  font-size: 15px;
}

.header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/**/


/*FOOTER*/

.footer__top {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center;
  margin-bottom: 30px;
}

.footer__bottom {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  -ms-align-items: center;
  align-items: flex-end;
}

.page__footer {
  background-image: url(../img/footer_background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  padding: 30px 0 50px;
}

.wrapper__social-icon:hover {
  opacity: .6;
}
.wrapper__social-icon {
  margin-right: 40px;
}

.mail__link--phone {
  font-weight: 400;
  font-size: 22px;
}

.phone__link {
  font-size: 22px;
}

.mail__ice-ace {
  display: block;
  font-size: 20px;
}

.copirate {
  max-width: 270px;
  font-size: 15px;
  font-weight: bold;
}

.footer__menu {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.footer__phone {
  text-align: right;
}

.link {
  margin-left: 25px;
  text-decoration: none;
  color: #333333;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
}

.link:hover {
  color: #000;
}


/*SERVICES*/

.main {
  padding: 0;
  margin: 0;
  margin-top: 43px;
}


.services h3 {
  font-size: 20px;
  text-align: left;
  margin: 5px;
  margin-bottom: 30px;
}

.main__link{
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  color: #000;
  padding: 15px 20px;
  text-transform: uppercase;
}

.services__text {
  text-align: center;
  margin-top: 40px;
}

.services__wrap {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  margin-top: 30px;
}

.services__article-right {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content:space-around;
  margin-right: 50px;
}

.services_left-side {
  max-width: 30%;
  margin-right: 40px;
}

.services__article-right img{
  margin-right: 20px;
}

.services__article-link{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.more {
  position: relative;
  top: 10px;
  background-image: url(../img/arrow_index.png);
  display: inline-block;
  width: 37px;
  height: 30px;
  background-repeat: no-repeat;
  margin-left: 130px;
}


/*ADVANTAGES*/

.advantages {
  font-size: 0;
}

.advantages__item {
  text-align: center;
  display: inline-block;
  width: 30%;
  vertical-align: top;
  padding: 15px;
}
.advantages__item p {
  text-align: left;
  font-size: 15px;
  font-weight: bold;
  margin-top: 30px;
}

.advantages__pic {
  display: inline-block;
  height: 80px;
  width: 80px;
}

/*SALE*/

.sale {
  background-image: url(../img/sale_background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  padding: 30px 0;
}

.sale__wrap {
  display: flex;
  margin-top: 20px;
}

.sale__title {
  display: inline-block;
  font-size: 20px;
  padding: 15px;

}

.sale__text span {
  color: #83eba5;
}

.sale__item {
  width: 33.33%;
  padding: 0 80px;
  text-align: center;
}

.sale__btn {
  display: inline-block;
  border: 2px solid #fff;
  margin: 40px 0px 40px 500px;
  color: #74e196;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
  padding: 15px;
}

.sale__btn:hover {
  color: #fff;
  background-color: #74e196;
}

.sale__btn:active {
  background-color: #fff;
  color; #74e196;
}

/*TEAM*/

.team__wrap {
  background-image: url(../img/team.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  box-shadow: inset 0 -300px 250px rgba(255 , 255, 255, 0.8);
}

.team__info {
  font-size: 15px;
  font-weight: bold;
  padding: 500px 130px 30px;
}

.team__btn {
  display: block;
  border: 2px solid #000;
  color: #74e196;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  font-style: 15px;
  padding: 15px;
  margin:  0px auto;
  width: 224px;
}

.btn__wrap{
  text-align: center;
  margin-top: 20px;
}

.team__btn:hover {
  background-color: #fff;
  color: #74e196;
}

.team__btn:active {
  background-color: #fff;
  color: #74e196;
}

/*COMMUNITY*/
.community {
  padding: 0 40px;
}
.community__text {
  text-align: center;
  margin: 15px auto 40px;
  width: 70%;
}

.map {
  display: block;
  width: 100%;
}

/*PHOTOS*/

.pictures {
  display: inline-block;
  padding-left: 8px;
}


/*INSTRUCTORS AND FORM(SCHELUDE)*/

/*FORM*/
form {
  padding-left: 30px;
}

.search {
  border: 2px solid #000;
  height: 45px;
  width: 640px;
}

.search-img {
  position: relative;
  left: -45px;
  top: 10px;
}

/*PHOTO INSTRUCTORS*/

.photo__title {
  margin-bottom: 40px;
}

.photo__list {
  position: relative;
  display: inline-block;
  width: 228px;
  height: 230px;
  overflow: hidden;
}


.photo__list:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .4);
}

.photo__list:hover:before {
  display: none;
}

.photo__subscription {
  display: inline-block;
  position: relative;
  top: -80px;
  width: 50px;
  padding-left: 10px;
  color: #fff;
}


.label {
  max-width: 1040px;
  margin: 0 auto;
  overflow: hidden;
  box-sizing: border-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.label__instructor-skills{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: flex-start;
}

.label__instructor-photo {
  background-image: url(../img/coach_main_avatar.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 270px;
  width: 270px;
}

.label__instructor-entry {
  display: flex;
  flex-direction: column;
  margin-top: 64px;
  max-width: 1040px;
}



.btn__label {
  display: inline-block;
  vertical-align: top;
  margin-left: 16px;
  width: 150px;
}

.btn__label-note {
  float: left;
  border: 2px solid #000;
  color: #74e196;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  padding: 15px;
  font-size: 15px;
  margin-left: 25px;
}

.button:hover {
  color: #fff;
  background-color: #74e196;
}

.button:active {
  color: #74e196;
  background-color: #fff;
}

.flash {
  position: relative;
  font-size: 20px;
  color: #000;
  padding: 10px;
  margin-top: 10px;
  border: 2px solid #000
}

.flash:before {
  content: '';
  position: relative;
  background-image: url(../img/flash.png);
  display: inline-block;
  height: 26px;
  width: 25px;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: bottom;
  margin-right: 5px;
}

.btn__label p {
  text-align: left;
  font-size: 15px;
  margin-top: 115px;
  margin-left: 25px;
}

.label__profile-item {
  vertical-align: top;
  padding-top: 10px;
}

.survey {
  background-image: url(../img/coach_background.jpg);
  background-size: cover;
  background-position: center bottom;
  margin: 0;
  padding: 0;
}

.survey__content {
  margin: 0;
  font-size: 15px;
  width: 695px;
  padding-bottom: 20px;
  text-align: left;
  padding: 5px 5px 30px 30px;
}

.survey__title {
  display: inline-block;
  margin: 0;
  padding: 40px 10px 10px 30px;
}

.survey__img {
  display: inline-block;
  width: 28px;
  height: 16px;
}

.education {
  margin: 20px 0;
}

.relation {
  display: inline-block;
  vertical-align: top;
  width: 49%;
  height: 320px;
}

.relation__title {
  margin: 0;
  padding-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
}

.relation__content {
  margin: 0;
  font-size: 15px;
  text-align: left;
  padding-bottom: 20px;
  font-weight: bold;
}


.video__profile {
  vertical-align: top;
  display: inline-block;
  width: 50%;
}

.coach__photo {
 display: flex;
}

.container__face {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: row;



}

/*SCHELUDE*/

.programm__table {
  border-collapse: collapse;
  width: 100%;
  text-align: left;
}

.table__line td{
  border: 3px solid #000;
  padding-left: 10px;
}

.table__line: last-child {
  padding-left: 0;
}

.table__button {
  margin-left: 0;
  border: none;
  width: 100%;
  padding: 10px 0;
}


.slider{
  border: 3px solid #000;
  margin-top: 35px;
  box-sizing: border-box;
}

.slider__photo {
  display: inline-block;
  width: 280px;
  position: relative;
}

.slider__img {
  display: inline-block;
  background-image: url(../img/coach_2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  border: 3px solid #8de8ab;
  height: 165px;
  width: 165px;
  border-radius: 50%;
  margin: 55px;
}

.slider__name {
  position: absolute;
  left: 40px;
  top: 210px;
  display: inline-block;
  background-color: #000;
  text-align: center;
  padding-top: 10px;
  color: #fff;
  width: 200px;
  height: 47px;
}

.slider__info {
  display: inline-block;
  position: relative;
  top: -30px;
  width: 490px;
  text-align: left;
  margin-left: 40px;
}

.slider__title {
  font-size: 30px;
  font-weight: bold;
  padding-top: 30px;
  padding-bottom: 10px;
  margin: 0;
}

.slider__info p {
  text-align: left;
  font-size: 15px;
  width: 400px;
}

.slider__text {
  font-weight: bold;
  margin: 0;
  padding: 10px 5px;
}

.slider__price{
  display: inline-block;
  position: relative;
  top: -147px;
  left: 140px;
}

.slider__price-button {
  float: none;
  margin: 0;
  padding: 10px 35px;
}

.slider__link {
  display: inline-block;
  margin-bottom: 50px;
  text-align: center;
  position: relative;
  top: 10px;
  left: -629px;
}

.slider__link-color {
  padding-bottom: 3px;
  text-decoration: none;
  color: #000;
  border-bottom: 2px solid #8de8ab;
}

.slider__numbers {
  margin: 10px;
  text-align: center;
}

.slider__numbers a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  padding-right: 4px;
}

.container__ring {
  width: 560px;
  margin: 0 auto;
}

.ring{
  padding-bottom: 60px;
  padding-top: 60px;
}


form {
  padding: 0;
}

input {
  width: 100%;
}

.arrow {
  position: relative;
  top: 7px;
}

.ring__text {
  text-align: left;
  font-weight: 20px;
  font-weight: bold;
}

.button__form {
  padding: 10px;
  float: none;
  margin-left: 200px;
  margin-top: 50px;
  background-color: #fff;
  width: 132px;
}

.form__input {
  border: 1.5px solid #000;
  padding: 20px;
  height: 20px;
  margin-bottom: 15px;
}

.form__input-big {
  height: 100px;
  width: 560px;
}
































